-r requirements.txt

#test requirements
pytest

# repo maintaince tooling
# isort for sorting imports in a correct order
# mypy for type checking tool
# flake8 is lynting tool
# black is code styling and enforcement tool
black
flake8
mypy
isort